body{
	font-size: 14px;
}
table{width:100%;}
#userData{
	margin-bottom: 10px;
	box-shadow: 8px 8px 4px #888888;
}
#fieldMonList{box-shadow: 8px 8px 4px #888888;}

td[title]{cursor:help;}

.btn{
	white-space: nowrap;
	margin: 2px;
	cursor: pointer;
	text-align:center;
}
.btn:hover{ opacity: 0.8; }
[onClick*=startBattle]{background-color: #27da27;}

.fSize1{
	width: 100px;
	height: 60px;
	float:left;
	vertical-align: middle;
}
.clickAble:hover{
	cursor: pointer;
}

.va-top{vertical-align: top;}
.s-shadow{box-shadow: 4px 4px 2px #888888;}
td[id*="user"]{
	width:35%;
}

div[id*=Window]{width:100%;}
div.menuTab{
	padding: 5px 20px;
	margin-right: 10px;
	border: 1px solid;
	float:left;
}
div.select{
	border-bottom: none;
	padding-bottom: 10px;
}
#menu{height:40px;}
#fieldPlace{
	min-height:200px;
}
#msgPlace{color:green;}
.red{color:red;}
.blue{color:#3204b9;}
.yellow{color:yellow;}
.bg-g{background-color: green;}
.bg-y{background-color: #c4da0e;}
.bg-y2{background-color: #859407;}
/*
tr[id*="uStat"] td:nth-child(3){border-right: 1px solid;}
*/

#configPlace{
	width:60%;
	margin: auto;
}

#userData .sName{
	display:inline-block;
	width:15%;
}
#userData .sVal{
	display:inline-block;
	width:35%;
}
#skillWindow img{
	height:64px;
	width:64px;
	padding: 10px 20px;
}
.skillList{
	display:inline-block;
	width:49%;
}
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltext {
	visibility: hidden;
	min-width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;
	/* margin-left: -60px; */
}

.tooltip:hover .tooltext {
	visibility: visible;
}
/*
button[id*=skill]{
	min-width:60px;
}
*/
img[id*=skill]{
	width:48px;
	height:48px;
	margin: 5px 5px;
}
img[id*=skill]:hover{
	border: 2px solid #c134a3;
}
